* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

}
body {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(33, 52, 158, 0.8), rgba(241, 232, 232, 0.8)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}


nav {
  height: 70px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* @keyframes example {
      0% {
        background-color: red;
        left: 0px;
        top: 0px;
      }
      25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
      }
      50% {
        background-color: blue;
        left: 200px;
        top: 200px;
      }
      75% {
        background-color: green;
        left: 0px;
        top: 200px;
      }
      100% {
        background-color: red;
        left: 0px;
        top: 0px;
      }
    } */
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
.swing:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

#card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

/* .card-image {
      grid-area: image;
      background: url("img1.jpg");
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-size: cover;
    }
    .card-text {
      grid-area: text;
      margin: 25px;
    }
    .card-text .date {
      color: rgb(255, 7, 110);
      font-size: 13px;
    }
    .card-text p {
      color: grey;
      font-size: 15px;
      font-weight: 300;
    }
    .card-text h2 {
      margin-top: 0px;
      font-size: 28px;
    }
    .card-stats {
      grid-area: stats;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background: rgb(255, 7, 110);
    }
    .card-stats .stat {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
    }
    .card-stats .border {
      border-left: 1px solid rgb(172, 26, 87);
      border-right: 1px solid rgb(172, 26, 87);
    }
    .card-stats .value {
      font-size: 22px;
      font-weight: 500;
    }
    .card-stats .value sup {
      font-size: 12px;
    }
    .card-stats .type {
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
    } */
#card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}



.what-we-do {
  width: 100%;
  padding: 4% 1%;
  height: auto;
  text-align: center;
  
  
}
.about-section{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  
}
.about-section p {
  font-size: 20px;
}


.mission-section{

  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.mission-cards{

  width: 40%;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  padding: 25px 10px;
}

.mission-cards .title{
  font-weight: 600;
  margin-bottom: 10px;
}
.mission-cards p{
  font-size: 22px;
}
.mission-cards:hover{
  box-shadow: 0 0 10px rgb(17, 17, 17);

}

@media (max-width: 700px) {

  .mission-section {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .mission-cards{
    width: 80%;
  }

}
@media only screen and (max-width: 599px) {
  .mission-cards{
    width: 80%;
  }
  .what-we-do{
    height: auto;
    text-align: center;
}
}



.io {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
}
.rows {
  display: none;
}
.middle {
  margin-top: 2cm;
  /* block-size: 50vh;
    margin-right: 5cm; */
}
.container2 {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box {
  background: linear-gradient(rgba(33, 52, 158, 0.8), rgba(241, 232, 232, 0.8));
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #27ae60;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    width: 80%;
    margin-top: 400px;
    grid-template-columns: 1fr;
    gap: 295px;
  }
  .left {
    height: 200px;
  }
}
/* .box {
    margin-bottom: 3cm;
  } */
.card {
  background: linear-gradient(rgba(33, 52, 158, 0.8), rgba(241, 232, 232, 0.8));
}

footer{
  height: auto;
  width: 100vw;
  padding-top: 40px;
  font-weight: 400;
  color: #000;
  background-color: #f4f4f4;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.terms{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}
.socials a i{
  font-size: 25px;
  color: #000;
  transition: color .4s ease;
}
.socials a:hover i{
  color: var(--purple);
}

.footer-bottom{
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}